<%- include('include/head', head) -%>

<body>
	<%- include('include/header') -%>
	<%- include('include/left', left) -%>


	<script src="/js/main.js" data-load="wow/index.js"></script>

	<p id="cd"></p>

	<div id="main">
	</div>

	<ul id="right">
		<h2>关注职业</h2>
		<li>
			<a href="" class="druid">
				<img src="/img/class/druid.jpg" alt="德鲁伊">
				德鲁伊 <i>(895)</i>
				<i class="iconfont">&#xe6a6;</i>
			</a>
			<a href="" class="hunter">
				<img src="/img/class/hunter.jpg" alt="猎人">
				猎人 <i>(895)</i>
				<i class="iconfont">&#xe6a6;</i>
			</a>
			<a href="" class="mage">
				<img src="/img/class/mage.jpg" alt="法师">
				法师 <i>(895)</i>
				<i class="iconfont">&#xe6a6;</i>
			</a>
			<a href="" class="paladin">
				<img src="/img/class/paladin.jpg" alt="圣骑士">
				圣骑士 <i>(895)</i>
				<i class="iconfont">&#xe6a6;</i>
			</a>
			<a href="" class="priest">
				<img src="/img/class/priest.jpg" alt="牧师">
				牧师 <i>(895)</i>
				<i class="iconfont">&#xe6a6;</i>
			</a>
			<a href="" class="rogue">
				<img src="/img/class/rogue.jpg" alt="潜行者">
				潜行者 <i>(895)</i>
				<i class="iconfont">&#xe6a6;</i>
			</a>
			<a href="" class="shaman">
				<img src="/img/class/shaman.jpg" alt="萨满祭司">
				萨满祭司 <i>(895)</i>
				<i class="iconfont">&#xe6a6;</i>
			</a>
			<a href="" class="warlock">
				<img src="/img/class/warlock.jpg" alt="术士">
				术士 <i>(895)</i>
				<i class="iconfont">&#xe6a6;</i>
			</a>
			<a href="" class="warrior">
				<img src="/img/class/warrior.jpg" alt="战士">
				战士 <i>(895)</i>
				<i class="iconfont">&#xe6a6;</i>
			</a>
		</li>
	</ul>
</body>

</html>