<%- include('include/head', head) -%>

<body>
	<%- include('include/header') -%>
	<%- include('include/left', left) -%>

	<script src="/js/main.js" data-load="item.js"></script>

	<div id="centr">
		<div class="main">
			<h1>魔兽世界 燃烧的远征 <i></i>装备模拟器</h1>
			<nav class="icons select">
				<h3>请选择种族职业:</h3>
				<p class="druid">
					<img src="/img/class/druid.jpg" alt="德鲁伊">
					德鲁伊
					<span>
						<a href="/item#druid_nightElf" class="nightElf">暗夜精灵</a>
						<a href="/item#druid_tauren" class="tauren">牛头人</a>
					</span>
				</p>
				<p class="hunter">
					<img src="/img/class/hunter.jpg" alt="猎人">
					猎人
					<span>
						<a href="/item#hunter_dwarf" class="dwarf">矮人</a>
						<a href="/item#hunter_nightElf" class="nightElf">暗夜精灵</a>
						<a href="/item#hunter_draenei" class="draenei">德莱尼</a>
						<a href="/item#hunter_orc" class="orc">兽人</a>
						<a href="/item#hunter_tauren" class="tauren">牛头人</a>
						<a href="/item#hunter_troll" class="troll">巨魔</a>
						<a href="/item#hunter_bloodElf" class="bloodElf">血精灵</a>
					</span>
				</p>
				<p class="mage">
					<img src="/img/class/mage.jpg" alt="法师">
					法师
					<span>
						<a href="/item#mage_human" class="human">人类</a>
						<a href="/item#mage_gnome" class="gnome">侏儒</a>
						<a href="/item#mage_draenei" class="draenei">德莱尼</a>
						<a href="/item#mage_undead" class="undead">亡灵</a>
						<a href="/item#mage_troll" class="troll">巨魔</a>
						<a href="/item#mage_bloodElf" class="bloodElf">血精灵</a>
					</span>
				</p>
				<p class="paladin">
					<img src="/img/class/paladin.jpg" alt="圣骑士">
					圣骑士
					<span>
						<a href="/item#paladin_human" class="human">人类</a>
						<a href="/item#paladin_dwarf" class="dwarf">矮人</a>
						<a href="/item#paladin_draenei" class="draenei">德莱尼</a>
						<a href="/item#paladin_bloodElf" class="bloodElf">血精灵</a>
					</span>
				</p>
				<p class="priest">
					<img src="/img/class/priest.jpg" alt="牧师">
					牧师
					<span>
						<a href="/item#priest_human" class="human">人类</a>
						<a href="/item#priest_dwarf" class="dwarf">矮人</a>
						<a href="/item#priest_nightElf" class="nightElf">暗夜精灵</a>
						<a href="/item#priest_draenei" class="draenei">德莱尼</a>
						<a href="/item#priest_undead" class="undead">亡灵</a>
						<a href="/item#priest_troll" class="troll">巨魔</a>
						<a href="/item#priest_bloodElf" class="bloodElf">血精灵</a>
					</span>
				</p>
				<p class="rogue">
					<img src="/img/class/rogue.jpg" alt="潜行者">
					潜行者
					<span>
						<a href="/item#rogue_human" class="human">人类</a>
						<a href="/item#rogue_dwarf" class="dwarf">矮人</a>
						<a href="/item#rogue_nightElf" class="nightElf">暗夜精灵</a>
						<a href="/item#rogue_gnome" class="gnome">侏儒</a>
						<a href="/item#rogue_orc" class="orc">兽人</a>
						<a href="/item#rogue_undead" class="undead">亡灵</a>
						<a href="/item#rogue_troll" class="troll">巨魔</a>
						<a href="/item#rogue_bloodElf" class="bloodElf">血精灵</a>
					</span>
				</p>
				<p class="warrior">
					<img src="/img/class/shaman.jpg" alt="萨满祭司">
					萨满祭司
					<span>
						<a href="/item#shaman_draenei" class="draenei">德莱尼</a>
						<a href="/item#shaman_orc" class="orc">兽人</a>
						<a href="/item#shaman_tauren" class="tauren">牛头人</a>
						<a href="/item#shaman_troll" class="troll">巨魔</a>
					</span>
				</p>
				<p class="warlock">
					<img src="/img/class/warlock.jpg" alt="术士">
					术士
					<span>
						<a href="/item#warlock_human" class="human">人类</a>
						<a href="/item#warlock_gnome" class="gnome">侏儒</a>
						<a href="/item#warlock_orc" class="orc">兽人</a>
						<a href="/item#warlock_undead" class="undead">亡灵</a>
						<a href="/item#warlock_bloodElf" class="bloodElf">血精灵</a>
					</span>
				</p>
				<p class="warrior">
					<img src="/img/class/warrior.jpg" alt="战士">
					战士
					<span>
						<a href="/item#warrior_human" class="human">人类</a>
						<a href="/item#warrior_dwarf" class="dwarf">矮人</a>
						<a href="/item#warrior_nightElf" class="nightElf">暗夜精灵</a>
						<a href="/item#warrior_gnome" class="gnome">侏儒</a>
						<a href="/item#warrior_draenei" class="draenei">德莱尼</a>
						<a href="/item#warrior_orc" class="orc">兽人</a>
						<a href="/item#warrior_undead" class="undead">亡灵</a>
						<a href="/item#warrior_tauren" class="tauren">牛头人</a>
						<a href="/item#warrior_troll" class="troll">巨魔</a>
						<a href="/item#warrior_bloodElf" class="bloodElf">血精灵</a>
					</span>
				</p>
			</nav>
			<div id="item">

			</div>
		</div>
	</div>
</body>

</html>