<ul id="left">
	<li>
		<a href="/" <% if (act==='index') { %> class="act" <%}%>>
			<i class="iconfont">&#xe60a;</i>
			魔兽世界 燃烧的远征
		</a>
		<a href="">
			<i class="iconfont">&#xe63d;</i>
			最新资讯
		</a>
		<a href="">
			<i class="iconfont">&#xe65d;</i>
			热门视频
		</a>
		<a href="">
			<i class="iconfont">&#xe66a;</i>
			插件下载
		</a>
		<a href="">
			<i class="iconfont">&#xe604;</i>
			社区讨论
		</a>
	</li>
	<li>
		<a href="/item" <%if (act === 'item') {_%> class="act" <%}%>>
			<i class="iconfont">&#xe603;</i>
			装备模拟器
		</a>
		<a href="">
			<i class="iconfont">&#xe6e7;</i>
			任务
		</a>
		<a href="">
			<i class="iconfont">&#xe601;</i>
			地区
		</a>
		<a href="">
			<i class="iconfont">&#xe605;</i>
			专业技能
		</a>
		<a href="">
			<i class="iconfont">&#xe6c9;</i>
			声望奖励
		</a>
		<a href="/talent" <%if (act === 'talent') {_%> class="act" <%}%>>
			<i class="iconfont">&#xe607;</i>
			天赋模拟器
		</a>
	</li>
	<li class="link">
		相关链接
		<a href="https://www.wowchina.com/zh-cn"><img src="/img/link/wowchina.png">魔兽世界 经典怀旧服 官网</a>
		<a href="https://bbs.nga.cn/thread.php?fid=624"><img src="/img/link/nga.png">NGA魔兽世界 经典旧世</a>
		<a href="https://cn.classic.wowhead.com"><img src="/img/link/wowhead.png">Wowhead Classic</a>
		<a href="http://www.nfuwow.com"><img src="/img/link/wowfan.png">NFU玩家社区</a>
		<a href="https://www.wowfan.net"><img src="/img/link/nfu.png">怀旧服资料站</a>
	</li>
	<li>
		<a>
			<i class="iconfont">&#xe69d;</i>
			设置
		</a>
		<a>
			<i class="iconfont">&#xe63b;</i>
			不良信息举报
		</a>
		<a>
			<i class="iconfont">&#xe60d;</i>
			意见反馈
		</a>
		<a>
			<i class="iconfont">&#xe64f;</i>
			帮助
		</a>
	</li>
	<li class="footer">
		<a href="terms.htm">服务条款</a>
		<a href="copyright.htm">版权声明</a>
		<a href="copyright.htm">联系我们</a>
		<a href="https://www.beian.miit.gov.cn">浙ICP备19023035号</a>
		<p>©2020 Biechu.com</p>
	</li>

	<!-- <li>
	<i class="iconfont">&#xe603;</i>
	职业套装
</li>
<li>
	<i class="iconfont">&#xe607;</i>
	天赋模拟器
</li>
<li>
	<i class="iconfont">&#xe603;</i>
	声望奖励
</li>
<li>
	<i class="iconfont">&#xe603;</i>
	专业技能
</li> -->
</ul>